.learning-modules-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  }


  /*Changing module buttons*/
.Modules {
  font-family: 'Roboto', sans-serif;
  border: 3px solid rgb(217, 184, 123);
  color: rgb(19, 151, 66);
  font-weight: bold;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.6)}

