.home{
  display: flex;

  /*Stacks items on top of each other*/
  flex-direction: column;

  align-items: center;
  justify-content: center;
}


button {

  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(23, 195, 83);

  font-weight: bold;

  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.6);


  /*Spaces inside the button*/
  padding: 15px 32px;

  /*Centers the text inside the button*/
  text-align: center;

  /*Removes the underline from the text*/
  text-decoration: none;

  /*Changes the display of the button to inline-block,
   which allows it to have a width and height*/
  display: inline-block;

  /*Changes the font size*/
  font-size: 20px;

  /*Spaces outside the button*/
  margin: 4px 2px;

  /*Changes the mouse to a pointer when hovering over the button*/
  cursor: pointer;
}

button:hover {
  background-color: #c2c8ce;
}